mongo:
  clients:
    default:
      database: march_madness
      hosts:
        - 127.0.0.1:27017
sports_radar:
  api_key: xxxxxxxx
  host: https://api.sportradar.us/
slack:
  host: https://hooks.slack.com/
  webhook_path: services/xxxxxxxx/xxxxxxxx/xxxxxxxx